@media (max-width: 500px){
   
   /*HOME DA PÁGINA*/
    .home{
        height: 88vh;
       .homeName{
           .name-scroll{
               h3{
                   font-size: 20px;
               }
                h1{
                   font-size: 30px;
                   
               }
           }
           .dev{
               h3{
                   font-size: 17px;
               }
           }
       }
   }


   /*SOBRE DA PÁGINA  */
   .about{
       .container{
           
           .ilustra{
               display: none;
           }
           .text-about{
               p{
                   font-size: 16px;
                   padding-right: 20px;
               }
           }
       }
   }



}