@media (max-width: 500px){
   
   /*HOME DA PÁGINA*/
    .home{
        height: 70vh;
        .container{
            display: flex;
            justify-content: center;
            .homeName{
                .name-scroll{
                    h3{
                        font-size: 20px;
                    }
                    h1{
                        font-size: 30px;
                        
                    }
                }
                .dev{
                    h3{
                        font-size: 17px;
                    }
                }
            }
        }
   }


   /*SOBRE DA PÁGINA  */
   .about{
       .container{
           padding: 10px;
           
           .ilustra{
               display: none;
           }
           .text-about{
               margin-top: 60px;
               .you-about{
                   text-align: center;
               }
               p{
                   font-size: 16px;
                   padding-right: 20px;
               }
           }
       }
   }


   /*PROJETOS DA PAGINA*/
   .projetos{
       .container{
           padding-bottom: 20px;
           .boxes{
               margin: 5px;
               .box-projetos{
                   margin: 5px;
                   .box{
                       width: 40%;
                       margin: 5px;
                   }
               }
           }
       }
   }
}