@media (max-width: 500px){
   
   /*HOME DA PÁGINA*/
    .home{
        height: 80vh;
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            .homeName{
                .name-scroll{
                    h3{
                        font-size: 20px;
                    }
                    h1{
                        font-size: 30px;
                        
                    }
                }
                .dev{
                    h3{
                        font-size: 17px;
                    }
                }
            }
        }
   }


   /*SOBRE DA PÁGINA  */
   .about{
       .container{
           padding: 10px;
           
           .ilustra{
               display: none;
           }
           .text-about{
               margin-top: 60px;
               .you-about{
                   text-align: center;
               }
               p{
                   font-size: 16px;
                   padding-right: 20px;
               }
           }
       }
   }


   /*PROJETOS DA PAGINA*/
   .projetos{
       .container{
           padding-bottom: 20px;
           .boxes{
               margin: 5px;
               .box-projetos{
                   margin: 5px;
                   .box{
                       width: 40%;
                       margin: 5px;
                   }
               }
           }
       }
   }

   /*HABILIDADES*/
   .habilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(1,0,107,1) 0%, rgba(2,10,74,1) 0%, rgba(5,0,65,1) 97%, rgba(6,0,43,1) 100%);
    .container-habilidades{
        margin: auto 0;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        .eventos{
            margin-top: 50px;
            width: 80%;
            text-align: center;
            h2{
                color: white;
                font-size: 2em;
            }
            .evento{
                height: 150px;
                color: white;
                padding: 10px;
            }
        }
        .habi{
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            height: 100%;
            .box{
                margin: 5px;
                background-color: #101041;
                width: 29%;
                
                border-radius: 8px;
                img{
                    width: 80%;
                    padding: 10px;

                }
                h2{
                    font-size: 0.6em;
                    color: white;
                    padding: 5px;
                }
            }
        }
    }
}
}

   /*services*/

   .services{
       .container-services{
           .blocos{
            .box-services{
                width: 45%;
                margin-bottom: 30px;
            }
           }
       }
   }