*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: #343436;
}
::-webkit-scrollbar-thumb{
    background-color: #271a42;
    border-radius: 8px;
}
a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;

}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-nav{
    width: 80%;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(255, 255, 255, 0.100);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    height: 8vh;
    width: 100vw;
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
}
.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.mobile-menu{
    display: none;
    cursor: pointer;

}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background:#ffffff;
    margin: 8px;
    transition: 0.3s;
}

@media(max-width: 999px){
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;

    }
    .nav-list li{
        margin-left:0 ;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
}
.nav-list.active{
    transform: translateX(0);


}

@keyframes navLinkFade{
   from {
       opacity: 0;
        transform: translateX(50px);
   }
   to {
       opacity: 1;
       transform: translateX(0);
   }
}


.mobile-menu.active .line1{
transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
opacity: 0;
}

.mobile-menu.active .line3{
transform: rotate(45deg) translate(-5px, -7px);
}


.efeito-hover{
    display: block;
    position: relative;
  }
  
  .efeito-hover::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #67568c;
    transform-origin:bottom right ;
    transition: transform 0.25s ease-out;
  }
  .efeito-hover:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  