*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Lato', sans-serif;
}

html{
    scroll-behavior: smooth;
}


$color-primary: #343436;
$color-secudary: #121213;
$color3:#67568c;
.home{
    background: rgb(1,0,107);
    background: linear-gradient(180deg, rgba(1,0,107,1) 0%, rgba(0,2,17,1) 0%, rgba(3,0,38,1) 17%, rgba(6,0,46,1) 100%);
    height: 100vh;
    
    .homeName{ 
        padding-top: 200px;
        
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50vh;
        
        h3,h1{
            color: white;
            text-align: center;
            margin-bottom: 10px;
            align-items: center;
            letter-spacing: 1px;
            
            
        }
        .dev h3{
            color:#fff;
            overflow: hidden;
            white-space: nowrap;
            border-right: .15em solid #67568c;
            margin: 0 auto;
            
            white-space: nowrap;
            animation:  
            typing 4s steps(35, end)  ,
            blink-animation .9s step-end
            infinite;
            animation-delay: 1.3s;
        }
        @keyframes typing {
            from{ width: 0}
            to { width: 100%}
        }
        
        @keyframes blink-animation {
            from, to {borber-color: transparent}
            50% { border-color: #0f0030;}
        }
        h3{
            font-size: 1.4em;
        }
        h1{
            font-size: 3em;
        }
        
        
     
    }
}

/*ABOUT DA PAGINA*/
.about{
    background: rgb(1,0,107);
    background: linear-gradient(180deg, rgba(1,0,107,1) 0%, rgba(2,10,74,1) 0%, rgba(5,0,65,1) 97%, rgba(6,0,43,1) 100%);
    .container{
        padding: 120px 40px;
        display: flex;
        .ilustra img{
            width: 100%;
            max-width: 100%;
            
        }
        .text-about{
            margin-left: 50px;
            h2,p {
                margin-bottom: 20px;
                color: #ffffff;
                
            }
        }
    }
}

/*MEUS PROJETOS*/
.projetos{
    background-color: $color-secudary;
    padding:100px 0;
    text-align: center;
    height: auto;
    h2{
        color: white;
        font-size: 35px;
        margin-bottom: 20px;
       
    }
    .boxes{
       
        .box-projetos{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin: 30px 60px;
            .box{
                background-color: #eeeeee;
                width: 23.1%;
                box-sizing: border-box;
                margin: 20px 4px;
                padding: 50px 10px;
                

                }
            .barber-shop{
                padding: 0;
                margin: 10px;
                background: none;
                a{
                    text-decoration: none;
                }
                img{width: 100%;
                    
            }    
            }
        }
        
    }
}
