* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.home {
  background: #01006b;
  background: -webkit-gradient(linear, left top, left bottom, from(#01006b), color-stop(0%, #000211), color-stop(17%, #030026), to(#06002e));
  background: linear-gradient(180deg, #01006b 0%, #000211 0%, #030026 17%, #06002e 100%);
  height: 100vh;
}

.home .homeName {
  padding-top: 200px;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
}

.home .homeName h3, .home .homeName h1 {
  color: white;
  text-align: center;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
}

.home .homeName .dev h3 {
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid #67568c;
  margin: 0 auto;
  white-space: nowrap;
  -webkit-animation: typing 6s steps(45, end), blink-animation 0.9s step-end infinite;
          animation: typing 6s steps(45, end), blink-animation 0.9s step-end infinite;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes blink-animation {
  from, to {
    borber-color: transparent;
  }
  50% {
    border-color: #0f0030;
  }
}

@keyframes blink-animation {
  from, to {
    borber-color: transparent;
  }
  50% {
    border-color: #0f0030;
  }
}

.home .homeName h3 {
  font-size: 1.4em;
}

.home .homeName h1 {
  font-size: 3em;
}

/*ABOUT DA PAGINA*/
.about {
  background: #01006b;
  background: -webkit-gradient(linear, left top, left bottom, from(#01006b), color-stop(0%, #020a4a), color-stop(97%, #050041), to(#06002b));
  background: linear-gradient(180deg, #01006b 0%, #020a4a 0%, #050041 97%, #06002b 100%);
}

.about .container {
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .container .ilustra img {
  width: 100%;
  max-width: 100%;
}

.about .container .text-about {
  margin-left: 50px;
}

.about .container .text-about h2, .about .container .text-about p {
  margin-bottom: 20px;
  color: #ffffff;
}

/*MEUS PROJETOS*/
.projetos {
  background-color: #121213;
  padding-top: 150px;
  text-align: center;
  height: 100vh;
}

.projetos h2 {
  color: white;
  font-size: 35px;
  margin-bottom: 40px;
}

.projetos .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projetos .boxes .box {
  width: 320px;
  background-color: #343436;
  margin: 10px;
  padding: 50px;
  text-align: center;
}

.projetos .boxes .box:hover {
  -webkit-box-shadow: 2px 2px 2px #67568c;
          box-shadow: 2px 2px 2px #67568c;
  -webkit-transition: 0.8;
  transition: 0.8;
}
/*# sourceMappingURL=style1.css.map */