@charset "UTF-8";
@media (max-width: 1024px) {
  /*HOME DA PÁGINA*/
  .home .homeName .job_name {
    font-size: 4rem;
  }
  .home p {
    font-size: 2.5rem;
  }
  .home p .link_social {
    margin-left: 20px;
  }
  .home p .link_social i {
    font-size: 1.5rem;
  }
  .home .about_text {
    font-size: 1.1rem;
  }
  /*SOBRE DA PÁGINA  */
  .about {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .about .container {
    width: 95%;
    padding: 10px;
  }
  .about .container .ilustra {
    display: none;
  }
  .about .container .text-about {
    margin-top: 60px;
  }
  .about .container .text-about .you-about {
    text-align: center;
  }
  .about .container .text-about p {
    font-size: 16px;
    padding-right: 20px;
  }
  /*PROJETOS DA PAGINA*/
  .projetos .container {
    padding-bottom: 20px;
  }
  .projetos .container .boxes {
    margin: 5px;
  }
  .projetos .container .boxes .box-projetos {
    margin: 5px;
  }
  .projetos .container .boxes .box-projetos .box-projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 60px;
  }
  .projetos .container .boxes .box-projetos .box-projetos .projeto {
    text-align: left;
    color: white;
    width: 25%;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .projetos .container .boxes .box-projetos .box-projetos .projeto img {
    width: 100%;
    margin-bottom: 10px;
  }
  /*HABILIDADES*/
  .habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(1, 0, 107) 0%, rgb(2, 10, 74) 0%, rgb(5, 0, 65) 97%, rgb(6, 0, 43) 100%);
  }
  .habilidades .container-habilidades {
    margin: auto 0;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }
  .habilidades .container-habilidades .eventos {
    margin-top: 50px;
    width: 80%;
    text-align: center;
  }
  .habilidades .container-habilidades .eventos h2 {
    color: white;
    font-size: 2em;
  }
  .habilidades .container-habilidades .eventos .evento {
    height: 150px;
    color: white;
    padding: 10px;
    font-size: 1.2em;
  }
  .habilidades .container-habilidades .habi {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    height: 100%;
  }
  .habilidades .container-habilidades .habi .box {
    margin-bottom: 5px;
    background-color: #101041;
    width: 20%;
    border-radius: 8px;
  }
  .habilidades .container-habilidades .habi .box img {
    width: 60%;
    padding: 10px;
  }
  .habilidades .container-habilidades .habi .box h2 {
    font-size: 1em;
    color: white;
    padding: 5px;
  }
  /*services*/
  .services .container-services .blocos .box-services {
    width: 40%;
    margin-bottom: 30px;
    padding: 5px;
  }
  .services .container-services .blocos .box-services img {
    width: 30%;
  }
  /*Contatos*/
  .contatos .container .box-contatos .sociais {
    width: 10%;
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  /*HOME DA PÁGINA*/
  .home .homeName .job_name {
    font-size: 2.8rem;
  }
  .home p {
    font-size: 1.6rem;
  }
  .home p .link_social {
    margin-left: 20px;
  }
  .home p .link_social i {
    font-size: 1.5rem;
  }
  .home .about_text {
    font-size: 1rem;
  }
  /*SOBRE DA PÁGINA  */
  .about {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .about .container {
    width: 80%;
    padding: 10px;
  }
  .about .container .ilustra {
    display: none;
  }
  .about .container .text-about {
    margin-top: 60px;
  }
  .about .container .text-about .redes {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
  }
  .about .container .text-about .you-about {
    text-align: center;
    font-size: 1.8em;
  }
  .about .container .text-about p {
    font-size: 1.2em;
    padding-right: 20px;
  }
  /*PROJETOS DA PAGINA*/
  .projetos .container {
    padding-bottom: 20px;
  }
  .projetos .container h2 {
    font-size: 2.5em;
  }
  .projetos .container .boxes {
    margin: 5px;
  }
  .projetos .container .boxes .box-projetos {
    margin: 5px;
  }
  .projetos .container .boxes .box-projetos .box-projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 60px;
  }
  .projetos .container .boxes .box-projetos .box-projetos .projeto {
    text-align: left;
    color: white;
    width: 50%;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  /*HABILIDADES*/
  .habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(1, 0, 107) 0%, rgb(2, 10, 74) 0%, rgb(5, 0, 65) 97%, rgb(6, 0, 43) 100%);
  }
  .habilidades .container-habilidades {
    margin: auto 0;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }
  .habilidades .container-habilidades .eventos {
    margin-top: 50px;
    width: 80%;
    text-align: center;
  }
  .habilidades .container-habilidades .eventos h2 {
    color: white;
    font-size: 2em;
  }
  .habilidades .container-habilidades .eventos .evento {
    height: 150px;
    color: white;
    padding: 10px;
    font-size: 1.2em;
  }
  .habilidades .container-habilidades .habi {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    height: 100%;
  }
  .habilidades .container-habilidades .habi .box {
    margin-bottom: 5px;
    background-color: #101041;
    width: 20%;
    border-radius: 8px;
  }
  .habilidades .container-habilidades .habi .box img {
    width: 60%;
    padding: 10px;
  }
  .habilidades .container-habilidades .habi .box h2 {
    font-size: 0.6em;
    color: white;
    padding: 5px;
  }
  /*services*/
  .services .container-services .blocos .box-services {
    width: 40%;
    margin-bottom: 30px;
    padding: 5px;
  }
  .services .container-services .blocos .box-services img {
    width: 30%;
  }
  /*Contatos*/
  .contatos .container .box-contatos .sociais {
    width: 10%;
    margin-bottom: 15px;
  }
}
@media (max-width: 500px) {
  /*HOME DA PÁGINA*/
  .home .homeName .job_name {
    font-size: 1.8rem;
  }
  .home p {
    font-size: 1rem;
  }
  .home p .link_social {
    margin-left: 5px;
  }
  .home p .link_social i {
    font-size: 0.8rem;
  }
  .home .about_text {
    font-size: 0.9rem;
  }
  /*SOBRE DA PÁGINA  */
  .about {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .about .container {
    width: 88%;
    padding: 10px;
  }
  .about .container .ilustra {
    display: none;
  }
  .about .container .text-about {
    margin-top: 60px;
  }
  .about .container .text-about .you-about {
    text-align: center;
  }
  .about .container .text-about p {
    font-size: 16px;
    padding-right: 20px;
  }
  .about .container .text-about div .redes {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .about .container .text-about div .redes a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: flex;
    text-align: center;
    margin-right: 20px;
    width: 150px;
    border: 2px solid;
    -o-border-image: linear-gradient(227.91deg, #0b4fb6 0%, #003cff 100%) 1;
       border-image: linear-gradient(227.91deg, #0b4fb6 0%, #003cff 100%) 1;
  }
  .about .container .text-about div .redes a img {
    width: 1.8em;
  }
  .about .container .text-about div .redes a p {
    font-size: 1em;
    margin-top: 15px;
    font-family: monospace;
  }
  /*PROJETOS DA PAGINA*/
  .projetos .container {
    padding-bottom: 20px;
  }
  .projetos .container .boxes {
    margin: 5px;
  }
  .projetos .container .boxes .box-projetos {
    margin: 5px;
  }
  .projetos .container .boxes .box-projetos .projeto {
    text-align: left;
    color: white;
    width: 100%;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  /*HABILIDADES*/
  .habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(1, 0, 107) 0%, rgb(2, 10, 74) 0%, rgb(5, 0, 65) 97%, rgb(6, 0, 43) 100%);
  }
  .habilidades .container-habilidades {
    margin: auto 0;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }
  .habilidades .container-habilidades .eventos {
    margin-top: 50px;
    width: 80%;
    text-align: center;
  }
  .habilidades .container-habilidades .eventos h2 {
    color: white;
    font-size: 1.2em;
  }
  .habilidades .container-habilidades .eventos .evento {
    height: 150px;
    color: white;
    padding: 10px;
    font-size: 1em;
  }
  .habilidades .container-habilidades .habi {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    height: 100%;
  }
  .habilidades .container-habilidades .habi .box {
    margin: 8px;
    background-color: #101041;
    width: 24%;
    border-radius: 8px;
  }
  .habilidades .container-habilidades .habi .box img {
    width: 80%;
    padding: 10px;
  }
  .habilidades .container-habilidades .habi .box h2 {
    font-size: 0.5em;
    color: white;
    padding: 5px;
  }
  /*services*/
  .services .container-services .blocos .box-services {
    width: 75%;
    margin-bottom: 30px;
    padding: 5px;
  }
  .services .container-services .blocos .box-services img {
    width: 30%;
  }
  /*Contatos*/
  .contatos .container .box-contatos .sociais {
    width: 25%;
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=responsivo.css.map */